@tailwind base;
/* @tailwind components; */
@tailwind utilities;


h1 {
  @apply uppercase text-6xl font-thin mb-3;
}
h2 {
  @apply uppercase text-3xl mb-2 mt-4 font-thin;
}
h3 {
  @apply text-2xl font-thin inline-block my-2;
}
p {
  @apply leading-relaxed mb-3;
}
button {
  @apply border hover:bg-sky-800 px-3 py-1
}

a:hover, a:focus, a:active {
  text-decoration: hov
}

* {
  box-sizing: border-box;
}
